.forgotContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  /*background: linear-gradient(135deg, #fcf7f7, #fffdfd);*/
  background-image:url('../assets/banner1.jpg');
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center; 
      
}

.forgotBox {
  background: #ffffff;
  padding: 35px 28px;
  border-radius: 12px;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.6);
  width: 350px;
  text-align: center;
  border: 1px solid #2a2a2a;
}

.forgotBox h2 {
  margin-bottom: 10px;
  color: #161616;
  font-size: 1.5rem;
}

.textInfo {
  font-size: 16px;
  color: #161616;
  margin-bottom: 20px;
}

.inputGroup {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  text-align: left;
}

.inputGroup label {
  font-size: 14px;
  margin-bottom: 6px;
  color: #151313;
}

.inputGroup input {
  padding: 10px;
  border: 1px solid #444;
  border-radius: 6px;
  outline: none;
  background: #ffff;;
  color: #151313;
  transition: all 0.3s ease;
}

.inputGroup input:focus {
  border-color: #007bff;
  box-shadow: 0 0 6px rgba(21, 22, 22, 0.5);
}

.btnRecover {
  width: 100%;
  padding: 12px;
  background: #0b3d4f;;
  color: #fff;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s ease, transform 0.2s;
}

.btnRecover:hover {
  background: #161716;
  transform: scale(1.05);
}

.backLogin {
  margin-top: 15px;
  font-size: 14px;
  color: #0b0a0a;
}

.backLogin a {
  color:#0b3d4f;
  text-decoration: none;
  font-weight: bold;
}

.backLogin a:hover {
  text-decoration: underline;
}

.success-container{
  background-color:green;
}
